.Title.Heading {
    font-size: 50px;
    font-family: "Lucida Handwriting", serif ;
    color: orange;
}

.Heading {
    font-size: large;
    color: purple;
}

* {
    font-family: "Times New Roman", serif;
}

.icecreamimg {
    border: 5px solid lightsalmon;
}